.cardContent {
  padding: 0 !important;
  max-height: 118.53px;
  margin-left: 16px;
  width: 134.47px;
  pointer-events: none;
}
.publisher {
  width: '134.47px';
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.css-1v2lvtn-MuiPaginationItem-root {
  display: none;
}

.closed {
  display: none;
}

.opened {
  display: flex;
}

.labelScrollbar {
  max-height: 500;
  background: #ab2680;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1136px;
}

@media (max-width: 1279px) {
  .header {
    width: auto;
  }
  .box {
    min-width: 2px !important;
    width: 288px;
    height: 970px;
  }
}

.box {
  display: 'flex';
  align-items: center;
  justify-content: center;
  min-width: 768px;
  height: 608;
  background-color: #ffffff;
  outline: none;
}
